.favourite {
  display: flex;
  }

.favourite > div {
  position: relative;
  }

.favourite > h3 > {
  position: absolute;
  }

.favourite > p {
  position: absolute;
  }

.favourite-bg-1 {
    background-image: url(../img/favourites/indonesia.png);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    flex: 33;
    height: 250px;
    width: 250px;
  }
  
.favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    flex: 33;
    height: 250px;
    width: 250px;
  }
  
.favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    flex: 33;
    height: 250px;
    width: 250px;
  }
  
  